/* Animated-toggle */
.animated-toggle {
    background: white;
    color: var(--ca-tangerine-400);
    overflow: hidden;
    .view-1 { display: block; }
    .view-2 { display: none; }
    p.intro {
        color: white;
        span,
        div {
            background-color: var(--ca-tangerine-700);
        }
    }
    .foreground {
        position: relative;
        z-index: 0;
        flex-direction: column;
        .toggle-copy { 
            flex: 4;
            max-width: unset;
        }
        
        .toggle-aria {
            flex: 6;
            max-width: unset;
            text-align: center;
        }
    }
}

.animated-toggle.toggled {
    background: var(--ca-tangerine-400);
    color: white;

    .view-1 { display: none; }

    .view-2 { display: block; }

    p.intro {
        color: black;

        span,
        div {
            background-color: white;
        }
    }
}

.animated-toggle {

    .coin {
        z-index: -1; 
        position: absolute;
        width: 115px;
        height: 115px;
        transition: all .4s ease-in-out;
    }

    .coin-1 {
        top: 0;
        right: 75%;
    }

    .coin-2 {
        top: 5%;
        right: 18%;
        transform: rotate(-120deg) scale(0.9);
    } 

    .coin-3 {
        top: 45%;
        right: -2%;
        transform: rotate(-100deg) scale(0.9);
    } 

    .coin-4 {
        top: 72%;
        right: 22%;
        transform: rotate(-90deg) scale(1);
        filter: blur(2.06108px);
    } 

    .coin-5 {
        top: 50%;
        right: 88%;
        transform: rotate(-60deg) scale(1);
    } 

    .coin-6 {
        top: 2%;
        right: 40%;
        transform: rotate(-20deg) scale(.4);
    } 

    .coin-7 {
        top: 0;
        right: -4%;
        transform: rotate(20deg) scale(.2);
        filter: blur(3.06108px);
    } 

    .coin-8 {
        top: 70%;
        right: -2%;
        transform: rotate(-20deg) scale(.4);
        filter: blur(3.06108px);
    } 

    .coin-9 {
        top: 60%;
        right: 70%;
        transform: rotate(-45deg) scale(.4);
        filter: blur(1.5px);
    } 

    .coin-10 {
        top: 70%;
        right: 44%;
        transform: rotate(-95deg) scale(.3);
        filter: blur(1.5px);
    } 
}

.animated-toggle.toggled {

    .coin-2 {
        top: 45%;
        right: -2%;
    } 
    
    .coin-3 {
        top: 50%;
        right: 80%;
    } 
    
    .coin-5 {
        top: 5%;
        right: 5%;
    } 

    .coin-6 {
        top: 70%;
        right: 70%;
    } 
    
    .coin-7 {
        top: 70%;
        right: 44%;
    } 
    
    .coin-9 {
        top: 2%;
        right: 38%;
    } 
    
    .coin-10 {
        top: 0;
        right: -10%;
    }
}

.toggle-aria .toggle {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 76px;
}

.toggle-aria .toggle input {
    display: none;
}

.toggle-aria .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--ca-tangerine-400);
    transition: 0.4s;
    border-radius: 38px;
}

.toggle-aria .slider:before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 140px;
    top: 12px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.toggle-aria .slider:after {
    position: absolute;
    content: "Purchase";
    display: block;
    top: 22px;
    left: 20px;
    font-family: var(--ff-acceptance-demi-bold);
    font-size: 21px;
    color: white;
}

.toggle-aria input:checked + .slider:after {
    content: 'Portfolio';
    left: 90px;
    color: var(--ca-indigo-700);
}

.toggle-aria input:checked + .slider {
    background-color: white;
}

.toggle-aria input:checked + .slider:before {
    transform: translateX(-130px);
    background-color: var(--ca-indigo-700);
}

@media screen and (width >= 960px) {

    /* Animated-toggle */
    .animated-toggle .foreground {
        flex-direction: row;
    }
    
    .animated-toggle {
    
        .coin-1 {
            right: 45%;
        }
    
        .coin-2 {
            right: 5%;
        } 
    
        .coin-3 {
            right: -2%;
        } 
    
        .coin-4 {
            right: 18%;
        } 
    
        .coin-5 {
            right: 50%;
        } 
    
        .coin-6 {
            right: 22%;
        } 
    
        .coin-7 {
            right: -4%;
        } 
    
        .coin-8 {
            right: -2%;
        } 
    
        .coin-9 {
            right: 27%;
        } 
    
        .coin-10 {
            right: 44%;
        } 
    }

    .animated-toggle.toggled {

        .coin-2 {
            top: 45%;
            right: -2%;
        } 
        
        .coin-3 {
            top: 50%;
            right: 50%;
        } 
        
        .coin-5 {
            top: 5%;
            right: 5%;
        } 
    
        .coin-6 {
            top: 60%;
            right: 27%;
        } 
        
        .coin-7 {
            top: 70%;
            right: 44%;
        } 
        
        .coin-9 {
            top: 2%;
            right: 22%;
        } 
        
        .coin-10 {
            top: 0;
            right: -4%;
        }
    }
}
