/* stylelint-disable no-descending-specificity */

header {
    background-color: var(--light-gray);

    nav {
      padding: 0.5rem 1rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      z-index: 2;
      position: relative;
      background-color: var(--light-gray);
    }
    p { margin: 0; }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 100%;
  text-align: center;
  position: relative;
  
  .icon {
    width: 150px;
    height: 35px;
  }

  .btn-mobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: none;
    border: none;
  }
  
  .btn-mobile:hover,
  .btn-mobile:active {
    background: none;
  }

  .btn-user {
    margin-top: 4px;
  }

  .btn-ham {
    right: 0;
    left: unset;
    background: none;
    border: none;
  }

  .btn-ham:hover {
    cursor: pointer;
  }
}

.icon-ham {
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;

  span {
    display: block;
    position: absolute;
    background: var(--dark-gray);
    height: 2px;
    width: 100%;
    transform-origin: center center;
  }

  span:nth-child(1) { top: 2px; }

  span:nth-child(2) { 
    top: 50%; 
    margin-top: -1px; 
  }
  
  span:nth-child(3) { 
    top: 50%; 
    margin-top: -1px; 
  }
  
  span:nth-child(4) { bottom: 2px; }
}

.icon-ham:hover span {
    background: var(--pure-black);
}

.btn-ham[aria-expanded='true'] .icon-ham {
  transform: rotate(45deg);
  
  span:nth-child(2) { transform: rotate(90deg) }
  
  span:nth-child(1),
  span:nth-child(4) { display: none; }
}


/* nav sections */
.nav-section[aria-expanded='false'] {
  display: none;
}

/* nav brand */
.nav-brand .default-content-wrapper {
  a {
    height: 100%;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
  }
}

.nav-main,
.nav-tools {
  color: var(--black-olive);
  font-size: 12px;
  font-family: var(--ff-acceptance-demi-bold);
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 20px;
}

.nav-main {
  /* accordion */
  details {
    summary {
      padding: 1rem 0 1rem 2rem;
      border: 1px dotted var(--dark-gray);
      border-width: 1px 0;
      position: relative;
      font-size: 13px;
    }
    
    ul {
      list-style: none;
      padding: .5rem 0;
      margin: 0 0 0 2rem;
    }

    li > a {
      display: inline-block;
      width: 100%;
      padding: 0.5rem 0;
    }
  }

  details summary:hover {
    cursor: pointer;
  }

  details:nth-child(1) > summary {
    border-bottom-width: 0;
  }

  details[open]:nth-child(1) > summary {
    border-bottom-width: 1px;
  }
  
  details > summary:first-of-type,
  details[open] > summary:first-of-type {
    list-style-type: none;
  }

  details > summary::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: '+';
    font-size: 2rem;
    line-height: 0;
    font-family: 'Courier New', Courier, monospace;
  }
  
  details[open] > summary::before {
    content: "-";
  }  
}

.nav-quick-links {
  margin: 1rem 0;

  .default-content-wrapper,
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--ff-acceptance-regular);
    font-size: 20px;
  }
  
  .quick-links nav {
    padding: 0;
  }
}

/* nav tools */
.nav-tools {
  padding: 1rem 0;
  margin: 0 2rem;
  
  a {
    display: inline-block;
    width: 100%;
    padding: 0.25rem 0;
    font-size: 13px;
  }

  .button-container {
    display: none;

    .button {
      line-height: 1px;
      padding: 12px;
      font-size: 10px;
      letter-spacing: .33px;
    }
  }
}

@media (width >= 960px) {
  /* brand */
  header nav {
    flex-direction: row;
    height: var(--nav-height);
    padding-top: 0;
    padding-bottom: 0;
  }

  header .nav-brand {
    text-align: unset;
    flex-basis: 200px;
  }

  header .nav-main .default-content-wrapper,
  header .nav-tools .default-content-wrapper {
    display: flex;
    gap: 1rem;
    height: 100%;
    align-content: center;
  }

  header .nav-main .default-content-wrapper {
    gap: 0;
  }

  /* nav brand */
  .nav-brand .default-content-wrapper {
    height: 100%;

    p {
      height: 100%;
    }
  }

  /* nav main */
  .nav-main {
    details {
      position: relative;

        summary {
          padding: 0 2rem 0 1em;
          border: none;
          height: 100%;
          display: flex;
          align-content: center;
          flex-wrap: wrap;
        }
        
        ul {
          position: absolute;
          top: 100%;
          left: 0;
          background: white;
          margin: 0;
          padding: .5rem 1rem;
          box-shadow: 0 2px 6px #0000001f, 0 4px 25px #00000024;
          
          li {
            min-width: 245px;
          }
        }
    }

    .detail-0 ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0 1rem;
    }
    
    summary:hover,
    details[open] summary {
      background: var(--soft-gray)
    }

    summary:hover > ul {
      display: block;
    }


    details > summary::before {
      right: 14px;
      margin-top: -4px;
      left: auto;
      content: '\2304';
      font-size: 1.2rem;
    }
    
    details[open] > summary::before {
      content: "\2304";
    }  
  }
  
  /* nav tools */
  header .nav-tools {
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
    align-content: center;

    .default-content-wrapper {
      height: auto;
    }
    
    a {
      font-size: 12px;
      padding: 0;
    }
  }

  /* show elements */
  .nav-section[aria-expanded='false'] {
    display: block;
  } 
  
  .nav-tools .button-container {
    display: inline;
  }

  /* hide elements */
  .nav-brand .btn-mobile,
  .nav-quick-links[aria-expanded='false'],
  .nav-quick-links[aria-expanded='true'] {
    display: none;
  }
}
