.quick-links nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.quick-links nav ul li {
    list-style-type: none;
    width: 50%;
}

.quick-links a.quick-links-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-align: center;
    border: 2px solid #E8E8E0;
    border-radius: 5px;
    padding: 8px;
    margin-block-end: 16px;
    width: 10rem;
    font-size: 12px;
    font-family: var(--ff-acceptance-demi-bold);
    color: #171714;
    text-decoration: none;

}

.quick-links a.quick-links-item:hover {
    border-color: #14A1C8;
    background-color: #2b4361;
    color: #fff;
}

.quick-links a.quick-links-item .icon-masked {
    height: 20px;
    width: 20px;
    background-color: #171714;
}

.quick-links a.quick-links-item:hover .icon-masked {
    background-color: #fff;
}

@media (width >=992px) {
    .quick-links nav ul {
        gap: 16px;
    }

    .quick-links nav ul li {
        width: unset;
    }
}