.table {
    --border-style: solid;
    --border-color: var(--medium-gray);

    width: 100%;
    margin-block: 0.75rem;
    overflow-x: auto;
}

.table table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: var(--body-font-size-xs);
}

@media (width >=600px) {
    .table table {
        font-size: var(--body-font-size-s);
    }
}

@media (width >=900px) {
    .table table {
        font-size: var(--body-font-size-m);
    }
}

.table table thead tr {
    border-top: 2px var(--border-style) var(--border-color);
    border-bottom: 2px var(--border-style) var(--border-color);
}

.table table tbody tr {
    border-bottom: 1px var(--border-style) var(--border-color);
}

.table table th {
    font-weight: 700;
}

.table table th,
.table table td {
    padding: 0.5em;
    text-align: left;
}

.table table th p,
.table table td p {
    margin: 0;
}

.table table td p+p {
    margin-top: 0.25em;
}

/* bordered styled */
.table.border-styled table {
    border-spacing: 1.5px;
    border-collapse: separate;
}

.table.border-styled table th,
.table.border-styled table td {
    border-top: 1px var(--border-style) var(--border-color);
}

.table.border-styled table tr:last-child td {
    border-bottom: 1px var(--border-style) var(--border-color);
}

.table.border-styled.no-header table tr:first-of-type td {
    border-top: none;
}


/* no header variant */
.table.no-header table tbody tr {
    border-top: 1px var(--border-style) var(--border-color);
}

/* striped variant */
.table.striped table {
    border-collapse: collapse;
}

.table.striped tbody tr:nth-child(odd) {
    background-color: var(--light-color);
}

/* bordered variant */
.table.bordered table {
    border-collapse: collapse;
}

.table.bordered table th,
/* stylelint-disable-next-line no-descending-specificity */
.table.bordered table td {
    border: 1px var(--border-style) var(--border-color);
}

