/* video-carousel css */
.video-carousel{
   margin: 0 auto;
}

@media screen and (width >= 576px){
    .video-carousel{
     max-width: 540px;
    }
 }

@media screen and (width >= 768px){
    .video-carousel{
     max-width: 720px;
    }
 }

@media screen and (width >= 992px){
    .video-carousel{
     max-width: 960px;
    }
 }

@media screen and (width >= 1200px){
    .video-carousel{
     max-width: 1140px;
    }
 }

@media screen and (width >= 1400px){
   .video-carousel{
    max-width: 1320px;
   }
}