/* video-carousel css */

.video-carousel .carousel-slide-image {
    margin: 0 auto;
}

.video-carousel a {
    color: var(--text-color);
    text-decoration: none;
}

.video-carousel h4,
.video-carousel h5,
.video-carousel h3 {
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

@media screen and (width < 960px) {
    .video-carousel .carousel-slide-image {
        width: 295px;
    }
}