/* jon form related styling goes here */
.jon-form.no-title {
  h1 {
    display: none;
  }
}

.jon-form input[type='text'], .jon-form input[type='input'] , .cac-custom-select-box {
  width: 60% !important;
}

.jon-form button[type='submit'].disabled { 
  background-color: var(--bs-border-color);
  border-color: var(--bs-border-color);
  color: var(--text-color);
  opacity: 0.65;
}

.jon-form .mb-3 {
  margin-bottom: 1rem;
}